
<table class="table ">


<tr>
    <td>{{ 'username'|trans({}, 'FOSUserBundle') }}</td>
    <td>{{ user.username }}</td>
</tr>

<tr>
    <td>{{ 'email'|trans({}, 'FOSUserBundle') }}</td>
    <td>{{ user.email }}</td>
</tr>
</table>